<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.wenhe9.order">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".OrderApplication"
            android:allowBackup="true"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_config"
            android:roundIcon="@mipmap/app_icon"
            android:supportsRtl="true"
            android:theme="@style/Theme.Order">
        <activity android:name=".ui.order.OrderActivity">
        </activity>
        <activity
                android:name=".ui.food.FoodActivity"
                android:theme="@style/Theme.ActivityDialogStyle">
        </activity>
        <activity android:name=".ui.food.ShopDetailActivity">
        </activity>
        <activity android:name=".ui.shop.ShopActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>